script.
	export flair = {}
	export subredditName = ''
	emojis = {}
	html = flair.text
	if machineState['emojis@' + subredditName]
		for emoji in machineState['emojis@' + subredditName].split(',')
			[code, id] = emoji.split(':')
			emojis[code] = id
		html =
			flair.text
			.split(':')
			.map (s) ->
				if emojis[s]
					"<img src='https://emoji.redditmedia.com/#{emojis[s]}/#{s}' class='flair-emoji' title=':#{s}:' alt=#{s} style='background: #{flair.color}'>"
				else
					s.replaceAll('<', '&lt;')
			.join('')

span {@html html}

style.
	span
		display inline-flex
		align-items center
		white-space pre
		opacity 0.5
	:global(.flair-emoji)
		height 16px
		border-radius (@height / 2)